nav.main-nav
    ul.main-nav__list
        li.main-nav__item: a(href="index.html").main-nav__link.smooth-trigger Бизнес
        li.main-nav__item: a(href="#about").main-nav__link.smooth-trigger О Нас
        li.main-nav__item: a(href="#price").main-nav__link.smooth-trigger Цены
        li.main-nav__item: a(href="#form").main-nav__link.smooth-trigger Оформить заказ