// colors
$light: rgba(255, 255, 255, 1);
$dark: rgba(0, 0, 0, 1);
$blue: rgba(66, 169, 237, 1);
$lightblue: rgba(62, 156, 220, 1);

// fonts
$mainFont: 'Lato', Arial, sans-serif;
$titleFont: 'Raleway', Arial, sans-serif;